input {
    padding: 10px;
    width: 80%;
    border-radius: 10px
}

label {
    font-weight: bold;
    padding: 10px;
    width: 80%;
}

form {
    margin: 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 500px;
    padding: 20px;
    background: #F3F3F3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.47);
    border-radius: 22px;
}

#b-signin {
    margin: 20px 0px;
    background-color: #373867;
    color: white;
    width: 140px;
    font-weight: 500;
}

.logo-container {
    position: static;
}

.error {
    display: flex;
    color: red;
}

.hide {
    display: none;
}

.container-form {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* --- Modal --- */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #888;
    box-shadow: 0px 0px 6px 1px rgba(8, 8, 8, 0.47);
    width: 50%;
    text-align: center;
}

.modal-content h2{
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}