input {
    padding: 10px;
    width: 80%;
    border-radius: 10px
}

label {
    font-weight: bold;
    padding: 10px;
    width: 80%;
}

form {
    margin: 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 500px;
    padding: 20px;
    background: #F3F3F3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.47);
    border-radius: 22px;
}

#b-signup {
    margin: 20px 0px;
    background-color: #373867;
    color: white;
    width: 140px;
    font-weight: 500;
}

.logo-container {
    position: static;
}

.correct {
    display: flex;
    color: green;
}

.error {
    display: flex;
    color: red;
}

.hide {
    display: none;
}