<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Trackgenix</title>
  <link rel="stylesheet" type="text/css" href="../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link rel="stylesheet" type="text/css" href="../styles/login.css">
  <link rel="stylesheet" type="text/css" href="../styles/header.css">
  <link rel="stylesheet" type="text/css" href="../styles/footer.css">
</head>

<body>
  <header>
    <div class="logo-container">
      <a href="./index.html">
        <img src="../assets/header.png" alt="Logo">
      </a>
    </div>
    <div class="title-container">
      <p>Trackgenix SA</p>
    </div>
  </header>
  <section class="container container-form">
    <form>
      <label for="email">Email</label>
      <input id="email" placeholder="example@gmail.com">
      <div id="emailDiv"></div>
      <label for="password">Password</label>
      <input type="password" id="pass">
      <div id="passDiv"></div>
      <div class="container-buttom">
        <input id="b-signin" type="submit" value="Sign In">
      </div>
    </form>
    <div>
      <a href="./sign-up.html">Register</a>
    </div>
  </section>
  <footer>
    <div class="container-social">
      <a href="https://www.linkedin.com/in/radium-rocket/" target="_blank">
        <img src="../assets/in.png" alt="Linkedin">
      </a>
      <a href="https://www.facebook.com/radiumrocket?_rdc=1&_rdr" target="_blank">
        <img src="../assets/fcb.png" alt="Facebook">
      </a>
      <a href="https://twitter.com/radiumrocket" target="_blank">
        <img src="../assets/twt.png" alt="Twitter">
      </a>
      <a href="https://www.instagram.com/radium.rocket/" target="_blank">
        <img src="../assets/insta.png" alt="instagram">
      </a>
    </div>
    <p>Copyright © 2022 Trackgenix S.A. All rigths reserved.</p>
  </footer>
    <!-- Modal -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p id="modalText">text</p>
    </div>
  </div>
  <script src="../javascript/login.js"></script>
</body>

</html>