<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Trackgenix</title>
  <link rel="stylesheet" type="text/css" href="../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="../styles/sign-up.css">
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link rel="stylesheet" type="text/css" href="../styles/header.css">
  <link rel="stylesheet" type="text/css" href="../styles/footer.css">
</head>

<body>
  <header>
    <div class="logo-container">
      <a href="./index.html">
        <img src="../assets/header.png" alt="Logo">
      </a>
    </div>
    <div class="title-container">
      <p>Trackgenix SA</p>
    </div>
  </header>
  <section class="container container-form ">
    <form>
      <div class="group-input">
        <label for="fname">First Name</label>
        <input id="fname" placeholder="Juan">
        <div class="msg-container"></div>
      </div>
      <div class="group-input">
        <label for="lname">Last Name</label>
        <input id="lname" placeholder="Perez">
        <div class="msg-container"></div>
      </div>
      <div class="group-input">
        <label for="dni">DNI</label>
        <input id="dni" placeholder="12345678">
        <div class="msg-container"></div>
      </div>
      <div class="group-input">
        <label for="dateOfBirth">Date of birth</label>
        <input id="dateOfBirth" type="date" placeholder="dd/mm/aaaa">
        <div class="msg-container"></div>
      </div>
      <div class="group-input">
        <label for="phone">Phone Number</label>
        <input id="phone" placeholder="1234567890">
        <div class="msg-container"></div>
      </div>
      <div class="group-input">
        <label for="address">address</label>
        <input id="address" placeholder="fake street 123">
        <div class="msg-container"></div>
      </div>
      <div class="group-input">
        <label for="city">City</label>
        <input id="city" placeholder="Rosario">
        <div class="msg-container"></div>
      </div>
      <div class="group-input">
        <label for="postCode">Post Code</label>
        <input id="postCode" placeholder="2000">
        <div class="msg-container"></div>
      </div>
      <div class="group-input">
        <label for="email">Email</label>
        <input id="email" placeholder="example@gmail.com">
        <div class="msg-container"></div>
      </div>
      <div class="group-input">
        <label for="password">Password</label>
        <input type="password" id="password">
        <div class="msg-container"></div>
      </div>
      <div class="group-input">
        <label for="repeatPassword">Repeat Password</label>
        <input type="password" id="repeatPassword">
        <div class="msg-container"></div>
      </div>
      <div class="conteiner-buttom">
        <input id="b-signup" type="submit" value="Sign Up">
      </div>
    </form>
    <div>
      <a href="./login.html">Login</a>
    </div>
  </section>
  <footer>
    <div class="container-social">
      <a href="https://www.linkedin.com/in/radium-rocket/" target="_blank">
        <img src="../assets/in.png" alt="Linkedin">
      </a>
      <a href="https://www.facebook.com/radiumrocket?_rdc=1&_rdr" target="_blank">
        <img src="../assets/fcb.png" alt="Facebook">
      </a>
      <a href="https://twitter.com/radiumrocket" target="_blank">
        <img src="../assets/twt.png" alt="Twitter">
      </a>
      <a href="https://www.instagram.com/radium.rocket/" target="_blank">
        <img src="../assets/insta.png" alt="instagram">
      </a>
    </div>
    <p>Copyright © 2022 Trackgenix S.A. All rigths reserved.</p>
  </footer>
  <!-- Modal -->
  <div id="myModal" class="modal hide">
    <div class="modal-content">
      <span class="close">&times;</span>
      <ul>
        <li id="modalText"></li>
      </ul>
    </div>
  </div>
  <script src="../javascript/sign-up.js"></script>
</body>

</html>