body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4em;
    color: #373867;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

header {
    background: #46A37C;
    height: 150px;
    width: 100%;
}

header p {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 350px;
    padding-top: 50px;
}

.logo {
    position: fixed;
    width: 20%;
    height: 150px;
}

aside {
    position: fixed;
    float: left;
    top: 150px;
    width: 20%;
    height: 100%;
    background: #373867;
    text-align: center;
    padding-top: 50px;
}

aside img {
    padding: 3px;
    margin-right: 5px;
    vertical-align: middle;
}

aside a {
    padding-top: 20px;
    display: inline-block;
    color: white;
    font-weight: bold;
}

aside a:hover {
    color: #46A37C;
}

main {
    margin-left: 22%;
    margin-top: 20px;
}

#home {
    display: inline-block;
}

h1 {
    margin-top: 50px;
    font-weight: 700;
    font-size: 60px;
    line-height: 100px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 15px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.subtitle {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    color: #B4AFAF;
}

.img-home {
    float: right;
    width: 317px;
    height: 395px;
    margin: 30px 60px 30px 30px;
}

.funcionalities {
    display: inline-block;
    width: 40%;
    height: 150px;
    margin: 25px;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
}

.funcionalities h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #46A37C;
    padding-bottom: 20px;
}

.whychoseus {
    display: inline-block;
    width: 40%;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}

.text-whychoseus {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-top: 5px;
    padding: 10px;
}


.background-icon {
    display: inline-block;
    background-color: #cccccc;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.527));
}

.background-icon img {
    width: 80px;
    height: 80px;
    padding: 20px;
}

.falsohr {
    margin: 30px 0 30px;
    height: 3px;
    width: 90%;
    border-radius: 10PX;
    background-color: #7E7E7E;
}

form  {
    text-align: center;
    margin: 50px;
}

#contact h2 {
    text-align: center;
}

input {
    padding: 10px;
    display: inline-block;
    width: 75%;
    border-radius: 10px
}

label {
    text-align: left;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    width: 75%;
}

textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: inline-block;
    width: 75%;
    border-radius: 10px;
    text-align: left;
    font-family: 'arial';
    opacity: 70%;
}

.block-forms {
    display: inline-block;
    width: 42%;
}

#b-submit {
    background-color: #AACE9B;
    width: 150px;
    font-weight: 500;
}

#b-reset {
    width: 150px;
    margin-left: 30px;
}

.whoweare {
    display: inline-block;
    width: 70%;
    margin: 30px 100px 50px;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
    filter: drop-shadow(0px 10px 10px rgba(55, 56, 103, 0.5));
    vertical-align: middle;
}
.whoweare p {
    color: black;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.list {
    display: inline-block;
    width: 25%;
    color: black;
    margin: 20px;
    padding-left: 40px;
}

.list ul{
    list-style-type:circle;
}

.list ol{
    list-style-type:decimal;
}

footer {
    margin-left: 20%;
    padding: 20px;
    background-color: #373867;
    text-align: center;
    font-size: 11px;
    line-height: 30px;
    font-style: italic;
    color: hsla(0,0%,100%,.5);
}

footer img {
    padding: 10px;
    width: 40px;
    height: 40px;
}