aside {
    position: fixed;
    width: 20%;
    height: 100%;
    background: #373867;
}

aside a {
    color: white;
    font-weight: bold;
}

aside a:hover {
    color: #46A37C;
}

.container-aside {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-aside {
    padding: 10px;
}

.menu-aside img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}