main {
  padding: 0px 30px;
}

h1 {
  width: 100%;
  min-width: 250px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 15px;
}

#home {
  flex-wrap: wrap;
}

.text-home {
  display: flex;
  flex-direction: column;
  max-width: 64%;
  min-width: 300px;
  justify-content: center;
}

.subtitle {
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #B4AFAF;
  margin-bottom: 10px;
}

.img-home {
  max-width: 250px;
}

/* ********** FUNCIONALITIES ********** */

.container-funcionalities {
  flex-wrap: wrap;
}

.funcionalities {
  margin: 10px;
  padding: 10px;
  background-color: #F2F2F2;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
  max-width: 44%;
  min-width: 300px;
}

.funcionalities h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #46A37C;
  padding-bottom: 10px;
}

/* ********** WHY CHOSE US ********** */

.container-whychoseus {
  flex-wrap: wrap;
}

.whychoseus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 46%;
  min-width: 300px;
  padding: 10px;
}

.text-whychoseus {
  width: 60%;
  padding: 10px;
  text-align: center;
}

.background-icon {
  background-color: #cccccc;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.527));
}

.background-icon img {
  width: 80px;
  height: 80px;
  padding: 20px;
}

/* ********** CONTACT ********** */

form  {
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  width: 100%;
}

input {
  padding: 10px;
  width: 100%;
  border-radius: 10px
}

label {
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

textarea {
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
  border-radius: 10px;
  text-align: left;
  font-family: 'arial';
  opacity: 70%;
}

.container-names {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.block-forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 340px;
}

.container-buttom {
  width: 100%;
  align-items: flex-start;
}

#b-submit {
  background-color: #AACE9B;
  width: 150px;
  font-weight: 500;
  margin-right: 15px;
}

#b-reset {
  width: 150px;
}

/* ********** WHO WE ARE ********** */

.whoweare {
  width: 70%;;
  padding: 20px;
  margin: 20px;
  background-color: #F2F2F2;
  border-radius: 15px;
  filter: drop-shadow(0px 10px 10px rgba(55, 56, 103, 0.5));
  vertical-align: middle;
}
.whoweare p {
  color: black;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

/* ********** LISTS ********** */

.container-lists {
  flex-wrap: wrap;
  justify-content: space-around;
}

.list {
  max-width: 33%;
  min-width: 200px;
  color: black;
  padding: 10px;
}

